* {
    font-family: 'Merriweather', serif;
}


body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}



header {
    background-color: #2C3945;
    text-align: center;
    width: 100%;
    align-content: center;
    display: inline-block;
}

h3  {
    color: white;
}

h4 {
    text-align: center;
}


fieldset {
    border: 0;
}

#description-text {
    color: #c7c7c7;
    font-size: .9em;
    text-align: center;
    margin-top: -5px;
}

#solid-black {
    display: block; 
    border: solid black 2px;
}

#solid-gray {
    display: block;
}

.input-fields, select {
    background-color: #EFF0F1;
    width: 100%;
    height: 35px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

label > span {
    text-align: left;
    margin: 40px;
    padding-bottom: 20px;
}

textarea {
    background-color: #EFF0F1;
    width: 100%;
    height: 100px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#newsletter-text {
    color: #9f9f9f;
    font-size: .9em;
    margin-top: -5px;
}

.left-heading {
    text-align: left;
}

button {
    background-color: #4DBBB4;
    font-size: 1em;
    width: 100%;
    height: 50px;
    color: white;
    border-radius: 5px;
}

#zip {
    width: 50%;
}

input {
    text-indent: 10px;
}

input::placeholder  {
    text-align: right;
    font-style: italic;
    color: #c2c2c2;
    padding-right: 12px;

}

input::checkbox {
    margin-top: 10px;
}


*:focus {
    outline: none;
    box-shadow: 0 0 5px rgb(22, 28, 34);
    
}

select {
    color: #c2c2c2;
    padding-left: 12px;
}

label {
    color: #9f9f9f;
    font-size: .8em;
}

#footer-text {
    color: #c7c7c7;
    font-size: .7em;
    font-style: italic;
    text-align: center;
    margin-top: 15px;
}

footer {
    margin-bottom: 180px; 
}

.container {
    list-style: none;
    padding: 0;
}


@media(min-width: 768px) {
    
    .wrapper {
        width: 60%;
    }

    .row {
        display: flex;
        justify-content: flex-end;
        padding: .5em;
    }

    .col-1 {
        flex: 1;
        padding: 1.5em 1em .5em 0;
        align-content: center;
    }

    .col-2 {
        flex: 2;
    }

    #zip {
        flex-grow: .5;
        border: solid red 3px;
        justify-content: flex-start;
    }


}

